---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Read+a+book
    headers:
      Authorization:
      - OAuth oauth_consumer_key="15KBqXMOCZzk8bS7dJeQ4Eujq", oauth_nonce="cb996c28d9e0be74f7e931e7d1360d42",
        oauth_signature="OPY44%2FkZi%2FfE2E%2FvOAqOwaqsUOs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1477003260", oauth_token="789220037236252672-Eix120uL9UAWmDk4l9WEycjGQsaOvTF",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 20 Oct 2016 22:41:00 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - e556eedd33893bddb092eb62b6de69da
      X-Response-Time:
      - '243'
      X-Transaction:
      - 004552a600af0360
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Thu Oct 20 22:41:00 +0000 2016","id":789234995156099072,"id_str":"789234995156099072","text":"Read
        a book","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"http:\/\/example.com\" rel=\"nofollow\"\u003enajisbnfoejnh\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":789220037236252672,"id_str":"789220037236252672","name":"Test","screen_name":"TestAppForRails","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":0,"listed_count":0,"created_at":"Thu
        Oct 20 21:41:34 +0000 2016","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1,"lang":"ru","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_1_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_1_normal.png","profile_link_color":"2B7BB9","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"}'
  recorded_at: Thu, 20 Oct 2016 22:41:00 GMT
recorded_with: VCR 3.0.3
